$body_font: 'Raleway', sans-serif;
$margin_bot: 20px;
$margin_izq: 20px;
$margin_der: 20px;
$bg-cafe: #231717;
$marron-oscuro: #231717;
$marron-claro: #4a3939;
$beige-oscuro: #d2b173;
$beige-claro: #e3daa8;
$t-welcome: #c65530;
$rosado: #ea7b54;
